<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/public/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {{!-- <script defer src="../js/index-client-side.js" type="module"></script> --}}
    <link rel="icon" href="/public/favicon.ico" sizes="70x70" type="image/ico">

    {{#each css}}
      <link rel="stylesheet" type="text/css" href="/public/css/{{this}}">
    {{/each }}

    {{#each js}}
      {{!-- <script defer src="/public/js{{this}}"></script> --}}
    {{/each}}
  </head>
  <body>
    {{log this}} 
    {{#if (nonEmptyObject messages)}}
      {{> flashmessage this}}
    {{/if}}
    {{> header}}
    {{> nav}}
    {{{body}}}
    {{> footer}}
  </body>
</html>
